.logo-container {
    margin: 50px 0;
}

.logo-container img {
    margin-top: -60px;
}

.text-logo {
    overflow-wrap: break-word;
    width: 400px;
    display: inline-block;
    text-align: left;
    margin-left: 20px;
    line-height: 50px;
}

.card-form {
    border: none;
}

.card-form input,
.card-form button {
    border-radius: 0;
    height: 4rem;
}

.card-form input:focus {
    border-color: #f6c70c;
    box-shadow: 0 0 0 0.1rem #f3d768;
}

.card-form button {
    background: none;
    border: solid 2px rgba(37, 37, 37, 0.808);
    color: rgba(37, 37, 37, 0.808);
    width: 100%;
    font-weight: 500;
}

.privacy {
    margin-top: 7rem;
}

.privacy span {
    border-bottom: #f7c705 solid 2px;
}