<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="../assets/logo.png" alt="" width="35" height="30" class="d-inline-block align-top"> Client Insurance Policies Management
        </a>
        <a *ngIf="user.email" class="nav-item nav-link" routerLink="/clients">Clients</a>
        <a *ngIf="user.email" class="nav-item nav-link" (click)="logout()">Logout</a>
    </div>
</nav>

<!-- main app container -->
<div class="container">
    <router-outlet></router-outlet>
</div>